@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
}

#check {
    display: none;
}

#check:checked ~ .menu {
    left: 0;
}

#check:checked ~ label #btn {
    left: 284px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 284px;
    opacity: 1;
    pointer-events: all;
    
}

label #btn,
label #cancel {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    background: #2b2b2b;
    color: white;
    border-radius: 40px;
}

label #btn {
    left: 15px;
    top: 15px;
    padding: 5px 14px 5px 16px;
    transition: all 0.5s;
}

label #cancel {
    z-index: 1111;
    left: 15px;
    top: 15px;
    padding: 4px 17px 6px 13px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.menu {
    position: absolute;
    left: -280px;
    transition: all 0.5s ease;
}

.menu ul {
    list-style: none;
}

.menu li {
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 25px;
    padding: 15px;
    background: #2b2b2b;
    position: relative;
    color: white;
    
}

.menu li::before,
.menu li::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width: 105%;
    transition: all 0.4s;
}

.menu li::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, yellow, mediumspringgreen);
    color: mediumspringgreen;
}

.menu li::after {
    left: -10%;
    height: 120%;
    background: #ffffff56;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
}

.menu li:hover::before {
    transform: translateX(-2.5%);
}

.menu li:hover::after {
    transform: translateX(15%);
}

.menu a {
    color: white;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 1.3em;
    font-weight: 400;   
}
