@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background: #1e2636;
    border: 1px solid #243747;
}

::-webkit-scrollbar-thumb {
    background: #0a0d12;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: linear-gradient(#141a23, #1c2a36);
}



/* --------------------- sidebar begin */
#check {
    display: none;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 258px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 258px;
    opacity: 1;
    pointer-events: all;
}

label #btn,
label #cancel {
    position: fixed;
    font-size: 2em;
    cursor: pointer;
    background: #2b2b2b;
    color: lightskyblue;
    border-radius: 0px 30px 30px 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

label #btn:hover,
label #cancel:hover {
    color: peru;
}

label #btn {
    left: 0px;
    top: 55px;
    padding: 7px 14px 7px 16px;
}

label #cancel {
    z-index: 1;
    left: 0px;
    top: 55px;
    padding: 6px 17px 8px 13px;
    opacity: 0;
    pointer-events: none;
}

.sidebar {
    position: fixed;
    left: -256px;
    margin-top: 55px;
    transition: all 0.5s;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    width: 256px;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 15px;
    background: #2b2b2b;
    position: relative;
    color: lightskyblue;
    border-left: 3px solid transparent;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    transition: all 0.5s;
}

.sidebar li:hover {
    background: #0a0d12;
    color: peru;
    border-left: 3px solid indianred;
    border-top: 1px solid #0a0d12;
    border-bottom: 1px solid #0a0d12;
}

.sidebar a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;   
}
/* --------------------- sidebar end */



header {
    max-width: 960px;
    margin: auto;
    background: #0a0d12;
    border-bottom: 3px solid #131923;
}

header p {
    color: darkgray;
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 150px;
    text-align: center;
}

header h1 {
    color: whitesmoke;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

header h3 {
    color: mediumspringgreen;
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px 0px 150px 0px;
    text-align: center;
}

header sup {
    color: darkgray;
    font-size: 0.6em;
    font-weight: 300;
}

@media (max-width: 540px) {

    header h1 {
        font-size: 9vw;
    }
    
    header p {
        font-size: 5vw;
    }

    header h3 {
        font-size: 4.5vw;
    }
}


/* --------------------- menu begin */
.menu ul {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    list-style: none;
    background: #181818;
}

.menu li {
    background: #2b2b2b;
    color: lightskyblue;
    border-top: 3px solid transparent;
    border-right: 0.5px solid #161616;
    border-left: 0.5px solid #353535;
    padding: 13px 0px 18px 0px;
    font-size: 1.1em;
    text-align: center;
    text-indent: -8px;
}

.menu li:hover {
    background: #131922;
    color: peru;
    border-top: 3px solid indianred;
    border-right: 1px solid #131922;
    border-left: 1px solid #131922;
}

.menu li:nth-child(1).active {
    background: #0a0d12;
    color: peru;
    border-top: 3px solid indianred;
    border-right: 1px solid #0a0d12;
    border-left: 1px solid #0a0d12;
}

.menu a {
    text-decoration: none;
}

@media (max-width: 370px) {

    .menu li {
        font-size: 0.95em;
    }
    
}
/* --------------------- menu end */



main {
    max-width: 960px;
    margin: auto;
    padding: 40px 0px 120px 0px;
    background: #0D1117;
}

main .about-me {
    width: 70%;
    font-size: 1em;
    color: darkgray;
    background: #161c28;
    margin: 80px auto 0px auto;
    padding: 50px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
    border: 3px solid #131923;
}

@media (max-width: 650px) {
    main .about-me {
        width: 90%;
    }
}

@media (max-width: 370px) {
    main .about-me {
        font-size: 0.95em;
    }
}



/* --------------------- projects-page begin */
.description {
    width: 85%;
    font-size: 1em;
    background: #161c28;
    color: darkgray;
    margin: 80px auto 0px auto;
    padding: 50px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
    border: 3px solid #131923;
}

.description a {
    text-decoration: none;
    color: lightskyblue;
}

.description a:hover {
    color: peru;
    transition: 0.5s;
}

.img-scroll {
    width: 90%;
    height: 240px;
    overflow: auto;
    margin: 40px auto 0px auto;
    border: 0px solid #0D1117;
}

.img-scroll::-webkit-scrollbar {
    border: none;
    background: #1e2636;
}

.img-scroll img {
    filter: grayscale(100%) opacity(50%);
    width: 100%;
}
/* --------------------- projects-page end */


/* --------------------- contact-page begin */
form {
    font-size: 1.1em;
    margin: auto;
    width: 100%;
}

.contact-form {
    width: 70%;
    font-size: 1em;
    color: darkgray;
    background: #161c28;
    margin: 80px auto 0px auto;
    padding: 50px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
    border: 3px solid #131923;
}

@media (max-width: 650px) {
    .contact-form {
        width: 90%;
    }
}

form label,
form input,
form textarea {
    margin: auto;
    display: block;
    width: 90%;
}

form label {
    line-height: 1;
    margin-bottom: 10px;
}

form input,
form textarea {
    background: #1e2636;
    font: inherit;
    color: darkgray;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    outline: none;
    background: #252f42;
    transition: 0.5s;
}

form button {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    width: 90%;
    background: #1e2636;
    color: lightskyblue;
    border: none;
    margin: 20px auto 10px;
    padding: 15px 0px;
    cursor: pointer;
}

form button:hover,
form button:focus {
    outline: none;
    background: #1c2433;
    color: peru;
    transition: 0.5s;
}
/* --------------------- contact-page end */

/* --------------------- thanks-page begin */
#thanks {
    font-size: 1.2em;
}
/* --------------------- thanks-page end */



footer {
    position: relative;
    margin: auto;
    max-width: 960px;
    min-width: 300px;
    background: #0a0d12;
    color: darkgrey;
    text-align: center;
    padding: 8px 0px 10px;
    border-top: 3px solid #131923;
}

footer p {
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}

footer a:hover {
    color: peru;
}